.hero-section {
    background: linear-gradient(rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.5)), url('https://c4.wallpaperflare.com/wallpaper/212/657/279/the-avengers-avengers-endgame-ant-man-avengers-endgame-black-widow-hd-wallpaper-preview.jpg');
    /* background-color: inherit; */
    background-size: cover;
    background-position: 100% 25%;
    background-repeat: no-repeat;
    height: 25%;
    max-width: 1220px;
}
